*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
 font-family: Raleway, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    height: 68px;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 10px 0px rgb(146, 138, 138);
}

.nav-lists{
    display: flex;
    cursor: pointer;
}
.nav-lists li{
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
}

/* banner style  */
.banner{
    background-image: url('https://getwallpapers.com/wallpaper/full/d/5/d/1064491-laptop-hd-wallpaper-1920x1200-iphone.jpg');
    /* height: calc(100vh - 50px); */
    background-size: cover;
    height: calc(100vh);
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    display: flex;
    font-family: Raleway, sans-serif;
    padding: 0 20px;
}
.banner-title{
    font-size: 64px;
    font-weight: 100;
    line-height: 115px;
    letter-spacing:1px;
}
.banner-sub-title{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
}
.banner-button{
    background-color: #cec6c6;
    padding: 15px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 20px;
    border: none;
}
.banner-button:hover{
    background-color: white;
}
.icons{
    position: absolute;
    bottom: 20px;
    color: #cec6c6;
    cursor: pointer;
}
.icons i:hover{
    color: white;
    
}

/* about style  */
.about{
    margin-top: 120px;
    padding: 0 20px;
}

.about-title{
    font-size: 24px;
    text-align: center;
    line-height: 43px;
    font-weight: 100;
}
.about-sub-title{
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    font-weight: 100;
}

.about-lists{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
.about-list{
    text-align: center;
}
.service-logo{
    font-size: 64px;
}

.service-title{
    font-weight: 300;
    font-size: 20px;
    line-height: 44px;
    margin: 10px 0;
}
.service-sub-title{
    font-weight: 100;
    font-size: 13px;
}


/* design style */
.design{
    margin-top: 120px;
    background-color: #F1F1F1;
    padding: 128px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.design-title{
    font-size: 34px;
    font-weight: normal;
}
.design-sub-title{
    font-size: 17px;
    font-weight: normal;
    margin: 15px 0;
}
.design-btn{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
}
.design-btn:hover{
    background-color: #ccc2c2;
    color: black;
    padding: 12px;
    border: none;
}
.design-img{
    max-width: 837px ;
    max-height: 394px;
    border-radius: 10px;
}


/* .the team style  */
.team{
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 0 20px;
}
.cards{
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    box-shadow:0 4px 12px 0 rgb(146, 138, 138);
}
.card-des{
    padding:0px 15px 15px;
}
.card-btn{
    width: 100%;
    padding: 15px;
    border:none;
    margin-top: 20px;
}
.card-btn:hover{
    background-color: #cccccc;
    width: 100%;
    padding: 15px;
    border:none;
}
.member-img{
    width: 100%;
    opacity: 0.8;
}
.member-name{
    font-size: 28px;
    font-weight: normal;
    margin: 12px 0;
}
.member-title{
    font-size: 15px;
    font-weight: normal;
    color: rgb(99, 94, 94);
    margin: 22px 0;
}


/* review style  */
.review{
    background-color: black;
    opacity: 0.6;
    height: 210px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}
.review-number{
    font-size: 44px;
}


/* work style  */
.work{
    padding: 0 20px;
    margin-top: 120px;
}
.work-img{
    width: 100%;
}

/* skills style  */
.skills{
    margin-top: 120px;
    background-color: #F1F1F1;
    padding: 74px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skill-name{
    font-weight: 400;
    letter-spacing: 4px;
}
.skill-level{
    background-color: #cec6c6;
    width: 100%;
}
.level1{
    background-color: #616161;
    width: 90%;
    color: white;
    text-align: center;
    margin-top: 7px;
    padding: 4px;
}
.level2{
    background-color: #616161;
    width: 85%;
    color: white;
    text-align: center;
    margin-top: 7px;
    padding: 4px;
}
.level3{
    background-color: #616161;
    width: 75%;
    color: white;
    text-align: center;
    margin-top: 7px;
    padding: 4px;
}



/* pricing style  */
.price{
    padding: 128px 20px;
    background-color: #616161;
}
.tables{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
}
.table{
    text-align: center;
    background-color: white;
    height: fit-content;
}
.table p{
    margin: 20px 0;
}
.price-table-title{
    background-color: black;
    padding:30px 0;
    color: white;
}
.price-table-title-2{
    background-color: rgb(245, 62, 62);
    padding:48px 0;
    color: white;
}